<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisFreshers</servlet-name>
        <servlet-class>Final.RegisFreshers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisHRs</servlet-name>
        <servlet-class>Final.RegisHRs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployee</servlet-name>
        <servlet-class>Final.UpdateEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHR</servlet-name>
        <servlet-class>Final.UpdateHR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmp</servlet-name>
        <servlet-class>Final.DeleteEmp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisFreshers</servlet-name>
        <url-pattern>/RegisFreshers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisHRs</servlet-name>
        <url-pattern>/RegisHRs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployee</servlet-name>
        <url-pattern>/UpdateEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHR</servlet-name>
        <url-pattern>/UpdateHR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmp</servlet-name>
        <url-pattern>/DeleteEmp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.html</welcome-file>
    </welcome-file-list>
</web-app>
